
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  width: 100%;
  margin: 0;
  background-color: #ebf7ec;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #1b1b1b;
}
h1 {
  font-size: 3.2  rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.4rem;
  font-style: italic;
}
 
h6 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}
li {
  font-size: 1.1rem;
}
a {
  color: #8d8d8d;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: #484848;
  text-decoration: underline;
}
main {
  width: 80%;
  margin-top: .325rem;
  float: left;
}
aside {
  width: 20%;
  float: right;
  margin-top: .325rem;
}
header {
  width: 100%;
  margin: 0;
  padding: .325rem;
}
.logo {
  width: 100%;
  max-width: 28.5em;
  height: auto;
  float: left;
}
.faelles {
  display: none;
}
.graven {
  display: none;
}
.scan {
  display: block;
}
.noshow {
  display: none;
}
#tagline {
  clear: both;
  width: 70%;
  float: left;
  padding: 0.325em;
  margin-top: .325rem;
  margin-bottom: 0.650rem;
}
#telefon {
  width: 30%;
  float: right;
  text-align: right;
  padding: 0.325em;
  margin-top: .325rem;
  margin-bottom: 0.650rem;
}
#tagline h2,
#telefon h2 {
  font-size: 2rem;
}
#nav {
  width: 100%;
  position: relative;
  clear: both;
}
#nav > a {
  display: none;
}
#nav li {
  position: relative;
}
#nav li a {
  color: #1b1b1b;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
#nav li a:active {
  background-color: #9cdaa4 !important;
}
#nav span:after {
  width: 0;
  height: 0;
  border: 0.313em solid transparent;
  /* 5 */
  border-bottom: none;
  border-top-color: #1c5a25;
  content: '';
  vertical-align: middle;
  display: inline-block;
  position: relative;
  right: -0.313em;
  /* 5 */
}
#nav > ul {
  height: 3.75em;
  /* 60 */
  background-color: #9cdaa4;
  list-style: none;
}
#nav > ul > li {
  width: 20%;
  height: 100%;
  float: left;
}
#nav > ul > li > a {
  height: 100%;
  font-size: 1.5em;
  /* 24 */
  line-height: 2.5em;
  /* 60 (24) */
  text-align: center;
}
#nav > ul > li:not( :last-child ) > a {
  border-right: 1px solid #1c5a25;
}
#nav > ul > li:hover > a,
#nav > ul:not( :hover ) > li.active > a {
  background-color: #88d292;
}
#nav li ul {
  list-style: none;
  background-color: #9cdaa4;
  display: none;
  position: absolute;
  top: 100%;
}
#nav li:hover ul {
  display: block;
  left: 0;
  right: 0;
}
#nav li:not( :first-child ):hover ul {
  left: -1px;
}
#nav li ul a {
  font-size: 1.25em;
  /* 20 */
  border-top: 1px solid #1c5a25;
  padding: 0.75em;
  /* 15 (20) */
}
#nav li ul li a:hover,
#nav li ul:not( :hover ) li.active a {
  background-color: #88d292;
}
#nav .active {
  background-color: #88d292;
}
#kontakt-form {
  width: 100%;
  padding: .325rem;
}
.textboks {
  width: 100%;
  height: 10rem;
  font-size: 1rem;
  font-family: inherit;
  -webkit-box-shadow: inset 6px 6px 16px -5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: inset 6px 6px 16px -5px rgba(0, 0, 0, 0.58);
  box-shadow: inset 6px 6px 16px -5px rgba(0, 0, 0, 0.58);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.kontaktform {
  width: 100%;
  background-color: #c3e8c8;
  margin-bottom: 0.325rem;
  margin-top: 0.325rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.650rem;
  padding-right: 0.650rem;
}
.phone {
  display: block;
  background-color: #00A600;
  font-size: 2rem;
  padding: 0.650rem;
  margin: 1.5rem auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 26px -5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 6px 6px 26px -5px rgba(0, 0, 0, 0.58);
  box-shadow: 6px 6px 26px -5px rgba(0, 0, 0, 0.58);
}
.phone a,
.phone a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
#adresse {
  text-align: center;
}
#adresse p {
  font-size: 1.8rem;
  font-weight: bold;
}
label {
  display: block;
  font-size: 1rem;
}
.textfelt {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding: 0.325em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
  -webkit-box-shadow: inset 6px 6px 16px -5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: inset 6px 6px 16px -5px rgba(0, 0, 0, 0.58);
  box-shadow: inset 6px 6px 16px -5px rgba(0, 0, 0, 0.58);
}
.sendknap {
  width: 100%;
  height: auto;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.8rem;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #00A600;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  -webkit-box-shadow: 6px 6px 26px -5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 6px 6px 26px -5px rgba(0, 0, 0, 0.58);
  box-shadow: 6px 6px 26px -5px rgba(0, 0, 0, 0.58);
}
#tabel-liste {
  width: 90%;
  margin: 1em auto;
  border: 1px solid #1b1b1b;
}
thead {
  background-color: #1b1b1b;
}
th {
  padding: .325rem;
  font-size: 1.2rem;
  color: #fff;
  text-align: left;
}
td {
  padding: .325rem;
  font-size: 1.2rem;
  color: #1b1b1b;
}
tr:nth-child(even) td {
  background: #c0c0cc;
  color: #fff;
}
tr:nth-child(even) a {
  color: #fff;
}
tr:nth-child(odd) td {
  background: #fff;
}
.sucess {
  margin-top: .650rem;
  color: #00A600;
}
.error {
  margin-top: .650rem;
  color: #FF0000;
}

/*Produkt information*/

.produkt {

  width: 99%;
  background-color: #C3E8C8;
  float: left;
  margin-bottom: .650rem;
    -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
    -webkit-box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.58);
  box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.58);
  overflow: hidden;

}

.produkt-foto-box {
width: 40%;
float: left;
}


.produkt-foto {
width: 100%;
height: auto;
max-width: 600px;
 }

.produkt-text {
  width: 59%;
  float: right;
  padding-right: .325rem;
}


/*Footer*/

footer {
  clear: both;
  width: 100%;
  margin-top: .650rem;
  margin-bottom: 1rem;
  padding-left: .325rem;
  padding-right: .325rem;
  padding-top: .850rem;
  padding-bottom: .650rem;
  text-align: center;
  border-top: 1px solid #000000:;
}

footer p {
  font-size: 1.4rem;
 }

.traf {

  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.fed {
  font-weight: bold;
}


#mh {
  font-size: 0.1rem;
  color: #F7F7F7;
}

#mh a, #mh a:visited, #mh a:active, #mh a:hover {
  color: #EBF7EC;
  text-decoration: none;
}

